Nhahang/xml-resources/web-service-references/dtngay_ws/wsdl/localhost_8080/dtngay_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="dtngay_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/dtngay_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="getDoanhThuNgay">
<part name="parameters" element="tns:getDoanhThuNgay"/>
</message>
<message name="getDoanhThuNgayResponse">
<part name="parameters" element="tns:getDoanhThuNgayResponse"/>
</message>
<message name="updateTongTienDoanhThuNgay">
<part name="parameters" element="tns:updateTongTienDoanhThuNgay"/>
</message>
<message name="isDateExistInDoanhThuNgay">
<part name="parameters" element="tns:isDateExistInDoanhThuNgay"/>
</message>
<message name="isDateExistInDoanhThuNgayResponse">
<part name="parameters" element="tns:isDateExistInDoanhThuNgayResponse"/>
</message>
<message name="addNewDoanhThuNgay">
<part name="parameters" element="tns:addNewDoanhThuNgay"/>
</message>
<message name="getTongThuCuaNgay">
<part name="parameters" element="tns:getTongThuCuaNgay"/>
</message>
<message name="getTongThuCuaNgayResponse">
<part name="parameters" element="tns:getTongThuCuaNgayResponse"/>
</message>
<portType name="dtngay_ws">
<operation name="getDoanhThuNgay">
<input wsam:Action="http://ws/dtngay_ws/getDoanhThuNgayRequest" message="tns:getDoanhThuNgay"/>
<output wsam:Action="http://ws/dtngay_ws/getDoanhThuNgayResponse" message="tns:getDoanhThuNgayResponse"/>
</operation>
<operation name="updateTongTienDoanhThuNgay">
<input wsam:Action="http://ws/dtngay_ws/updateTongTienDoanhThuNgay" message="tns:updateTongTienDoanhThuNgay"/>
</operation>
<operation name="isDateExistInDoanhThuNgay">
<input wsam:Action="http://ws/dtngay_ws/isDateExistInDoanhThuNgayRequest" message="tns:isDateExistInDoanhThuNgay"/>
<output wsam:Action="http://ws/dtngay_ws/isDateExistInDoanhThuNgayResponse" message="tns:isDateExistInDoanhThuNgayResponse"/>
</operation>
<operation name="addNewDoanhThuNgay">
<input wsam:Action="http://ws/dtngay_ws/addNewDoanhThuNgay" message="tns:addNewDoanhThuNgay"/>
</operation>
<operation name="getTongThuCuaNgay">
<input wsam:Action="http://ws/dtngay_ws/getTongThuCuaNgayRequest" message="tns:getTongThuCuaNgay"/>
<output wsam:Action="http://ws/dtngay_ws/getTongThuCuaNgayResponse" message="tns:getTongThuCuaNgayResponse"/>
</operation>
</portType>
<binding name="dtngay_wsPortBinding" type="tns:dtngay_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDoanhThuNgay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTongTienDoanhThuNgay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="isDateExistInDoanhThuNgay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewDoanhThuNgay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getTongThuCuaNgay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="dtngay_ws">
<port name="dtngay_wsPort" binding="tns:dtngay_wsPortBinding">
<soap:address location="http://localhost:8080/dtngay_ws"/>
</port>
</service>
</definitions>