Nhahang/src/META-INF/wsdl/localhost_8080/tk_ws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="findtk" type="tns:findtk"/>

<xs:element name="findtkResponse" type="tns:findtkResponse"/>

<xs:element name="getCheck" type="tns:getCheck"/>

<xs:element name="getCheckResponse" type="tns:getCheckResponse"/>

<xs:element name="getDeletetk" type="tns:getDeletetk"/>

<xs:element name="getTaikhoan" type="tns:getTaikhoan"/>

<xs:element name="getTaikhoanResponse" type="tns:getTaikhoanResponse"/>

<xs:element name="getThemtk" type="tns:getThemtk"/>

<xs:element name="getUpdatetk" type="tns:getUpdatetk"/>

<xs:complexType name="getDeletetk">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getThemtk">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTaikhoan">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTaikhoanResponse">
<xs:sequence>
<xs:element name="return" type="tns:tkmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tkmodel">
<xs:sequence>
<xs:element name="matk" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="quyen" type="xs:string" minOccurs="0"/>
<xs:element name="tentk" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findtk">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findtkResponse">
<xs:sequence>
<xs:element name="return" type="tns:tkmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUpdatetk">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCheck">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCheckResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>