Nhahang/xml-resources/web-service-references/nv_ws/wsdl/localhost_8080/nv_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="nv_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/nv_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="getCheck">
<part name="parameters" element="tns:getCheck"/>
</message>
<message name="getCheckResponse">
<part name="parameters" element="tns:getCheckResponse"/>
</message>
<message name="getUpdatenv">
<part name="parameters" element="tns:getUpdatenv"/>
</message>
<message name="getDeletenv">
<part name="parameters" element="tns:getDeletenv"/>
</message>
<message name="findnv">
<part name="parameters" element="tns:findnv"/>
</message>
<message name="findnvResponse">
<part name="parameters" element="tns:findnvResponse"/>
</message>
<message name="getThemnv">
<part name="parameters" element="tns:getThemnv"/>
</message>
<message name="getNhanvien">
<part name="parameters" element="tns:getNhanvien"/>
</message>
<message name="getNhanvienResponse">
<part name="parameters" element="tns:getNhanvienResponse"/>
</message>
<portType name="nv_ws">
<operation name="getCheck">
<input wsam:Action="http://ws/nv_ws/getCheckRequest" message="tns:getCheck"/>
<output wsam:Action="http://ws/nv_ws/getCheckResponse" message="tns:getCheckResponse"/>
</operation>
<operation name="getUpdatenv">
<input wsam:Action="http://ws/nv_ws/getUpdatenv" message="tns:getUpdatenv"/>
</operation>
<operation name="getDeletenv">
<input wsam:Action="http://ws/nv_ws/getDeletenv" message="tns:getDeletenv"/>
</operation>
<operation name="findnv">
<input wsam:Action="http://ws/nv_ws/findnvRequest" message="tns:findnv"/>
<output wsam:Action="http://ws/nv_ws/findnvResponse" message="tns:findnvResponse"/>
</operation>
<operation name="getThemnv">
<input wsam:Action="http://ws/nv_ws/getThemnv" message="tns:getThemnv"/>
</operation>
<operation name="getNhanvien">
<input wsam:Action="http://ws/nv_ws/getNhanvienRequest" message="tns:getNhanvien"/>
<output wsam:Action="http://ws/nv_ws/getNhanvienResponse" message="tns:getNhanvienResponse"/>
</operation>
</portType>
<binding name="nv_wsPortBinding" type="tns:nv_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUpdatenv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getDeletenv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findnv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getThemnv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getNhanvien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="nv_ws">
<port name="nv_wsPort" binding="tns:nv_wsPortBinding">
<soap:address location="http://localhost:8080/nv_ws"/>
</port>
</service>
</definitions>