Nhahang/xml-resources/web-service-references/nv_ws/wsdl/localhost_8080/nv_ws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="findnv" type="tns:findnv"/>

<xs:element name="findnvResponse" type="tns:findnvResponse"/>

<xs:element name="getCheck" type="tns:getCheck"/>

<xs:element name="getCheckResponse" type="tns:getCheckResponse"/>

<xs:element name="getDeletenv" type="tns:getDeletenv"/>

<xs:element name="getNhanvien" type="tns:getNhanvien"/>

<xs:element name="getNhanvienResponse" type="tns:getNhanvienResponse"/>

<xs:element name="getThemnv" type="tns:getThemnv"/>

<xs:element name="getUpdatenv" type="tns:getUpdatenv"/>

<xs:complexType name="getDeletenv">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUpdatenv">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
<xs:element name="e" type="xs:string" minOccurs="0"/>
<xs:element name="f" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findnv">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findnvResponse">
<xs:sequence>
<xs:element name="return" type="tns:nvmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nvmodel">
<xs:sequence>
<xs:element name="chucvu" type="xs:string" minOccurs="0"/>
<xs:element name="gioitinh" type="xs:string" minOccurs="0"/>
<xs:element name="hoten" type="xs:string" minOccurs="0"/>
<xs:element name="manv" type="xs:string" minOccurs="0"/>
<xs:element name="quequan" type="xs:string" minOccurs="0"/>
<xs:element name="sdt" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getThemnv">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
<xs:element name="e" type="xs:string" minOccurs="0"/>
<xs:element name="f" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNhanvien">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNhanvienResponse">
<xs:sequence>
<xs:element name="return" type="tns:nvmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCheck">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCheckResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>