Nhahang/xml-resources/web-service-references/tk_ws/wsdl/localhost_8080/WebService1/tk_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="tk_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WebService1/tk_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="getTaikhoan">
<part name="parameters" element="tns:getTaikhoan"/>
</message>
<message name="getTaikhoanResponse">
<part name="parameters" element="tns:getTaikhoanResponse"/>
</message>
<message name="getThemtk">
<part name="parameters" element="tns:getThemtk"/>
</message>
<message name="getUpdatetk">
<part name="parameters" element="tns:getUpdatetk"/>
</message>
<message name="getDeletetk">
<part name="parameters" element="tns:getDeletetk"/>
</message>
<message name="findtk">
<part name="parameters" element="tns:findtk"/>
</message>
<message name="findtkResponse">
<part name="parameters" element="tns:findtkResponse"/>
</message>
<portType name="tk_ws">
<operation name="getTaikhoan">
<input wsam:Action="http://ws/tk_ws/getTaikhoanRequest" message="tns:getTaikhoan"/>
<output wsam:Action="http://ws/tk_ws/getTaikhoanResponse" message="tns:getTaikhoanResponse"/>
</operation>
<operation name="getThemtk">
<input wsam:Action="http://ws/tk_ws/getThemtk" message="tns:getThemtk"/>
</operation>
<operation name="getUpdatetk">
<input wsam:Action="http://ws/tk_ws/getUpdatetk" message="tns:getUpdatetk"/>
</operation>
<operation name="getDeletetk">
<input wsam:Action="http://ws/tk_ws/getDeletetk" message="tns:getDeletetk"/>
</operation>
<operation name="findtk">
<input wsam:Action="http://ws/tk_ws/findtkRequest" message="tns:findtk"/>
<output wsam:Action="http://ws/tk_ws/findtkResponse" message="tns:findtkResponse"/>
</operation>
</portType>
<binding name="tk_wsPortBinding" type="tns:tk_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTaikhoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getThemtk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getUpdatetk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getDeletetk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findtk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="tk_ws">
<port name="tk_wsPort" binding="tns:tk_wsPortBinding">
<soap:address location="http://localhost:8080/WebService1/tk_ws"/>
</port>
</service>
</definitions>