Nhahang/xml-resources/web-service-references/dt_ws/wsdl/localhost_8080/dt_ws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="checkDoanhThuExist" type="tns:checkDoanhThuExist"/>

<xs:element name="checkDoanhThuExistResponse" type="tns:checkDoanhThuExistResponse"/>

<xs:element name="fetchData" type="tns:fetchData"/>

<xs:element name="fetchDataResponse" type="tns:fetchDataResponse"/>

<xs:element name="getdoanhthu" type="tns:getdoanhthu"/>

<xs:element name="getdoanhthuResponse" type="tns:getdoanhthuResponse"/>

<xs:element name="insertDoanhthu" type="tns:insertDoanhthu"/>

<xs:element name="updateComboBox" type="tns:updateComboBox"/>

<xs:element name="updateComboBoxResponse" type="tns:updateComboBoxResponse"/>

<xs:element name="updateDoanhthu" type="tns:updateDoanhthu"/>

<xs:complexType name="updateDoanhthu">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="tien" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchData">
<xs:sequence>
<xs:element name="year" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtmodel">
<xs:sequence>
<xs:element name="nam" type="xs:int"/>
<xs:element name="thang" type="xs:int"/>
<xs:element name="tien" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDoanhthu">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="tien" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDoanhThuExist">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDoanhThuExistResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getdoanhthu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getdoanhthuResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateComboBox">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateComboBoxResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>