Nhahang/xml-resources/web-service-references/chitiethd_ws/wsdl/localhost_8080/chitiethd_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="chitiethd_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/chitiethd_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="checkIfItemExistsInOrder">
<part name="parameters" element="tns:checkIfItemExistsInOrder"/>
</message>
<message name="checkIfItemExistsInOrderResponse">
<part name="parameters" element="tns:checkIfItemExistsInOrderResponse"/>
</message>
<message name="calculateTotalAmount">
<part name="parameters" element="tns:calculateTotalAmount"/>
</message>
<message name="calculateTotalAmountResponse">
<part name="parameters" element="tns:calculateTotalAmountResponse"/>
</message>
<message name="getTableDetailsFromChitiethd">
<part name="parameters" element="tns:getTableDetailsFromChitiethd"/>
</message>
<message name="getTableDetailsFromChitiethdResponse">
<part name="parameters" element="tns:getTableDetailsFromChitiethdResponse"/>
</message>
<message name="addChitiethdAndUpdateTongtien">
<part name="parameters" element="tns:addChitiethdAndUpdateTongtien"/>
</message>
<message name="updateExistingItemInOrder">
<part name="parameters" element="tns:updateExistingItemInOrder"/>
</message>
<message name="countOrderDetails">
<part name="parameters" element="tns:countOrderDetails"/>
</message>
<message name="countOrderDetailsResponse">
<part name="parameters" element="tns:countOrderDetailsResponse"/>
</message>
<message name="deleteChiTietHD">
<part name="parameters" element="tns:deleteChiTietHD"/>
</message>
<message name="getCT">
<part name="parameters" element="tns:getCT"/>
</message>
<message name="getCTResponse">
<part name="parameters" element="tns:getCTResponse"/>
</message>
<message name="deleteCTHD">
<part name="parameters" element="tns:deleteCTHD"/>
</message>
<portType name="chitiethd_ws">
<operation name="checkIfItemExistsInOrder">
<input wsam:Action="http://ws/chitiethd_ws/checkIfItemExistsInOrderRequest" message="tns:checkIfItemExistsInOrder"/>
<output wsam:Action="http://ws/chitiethd_ws/checkIfItemExistsInOrderResponse" message="tns:checkIfItemExistsInOrderResponse"/>
</operation>
<operation name="calculateTotalAmount">
<input wsam:Action="http://ws/chitiethd_ws/calculateTotalAmountRequest" message="tns:calculateTotalAmount"/>
<output wsam:Action="http://ws/chitiethd_ws/calculateTotalAmountResponse" message="tns:calculateTotalAmountResponse"/>
</operation>
<operation name="getTableDetailsFromChitiethd">
<input wsam:Action="http://ws/chitiethd_ws/getTableDetailsFromChitiethdRequest" message="tns:getTableDetailsFromChitiethd"/>
<output wsam:Action="http://ws/chitiethd_ws/getTableDetailsFromChitiethdResponse" message="tns:getTableDetailsFromChitiethdResponse"/>
</operation>
<operation name="addChitiethdAndUpdateTongtien">
<input wsam:Action="http://ws/chitiethd_ws/addChitiethdAndUpdateTongtien" message="tns:addChitiethdAndUpdateTongtien"/>
</operation>
<operation name="updateExistingItemInOrder">
<input wsam:Action="http://ws/chitiethd_ws/updateExistingItemInOrder" message="tns:updateExistingItemInOrder"/>
</operation>
<operation name="countOrderDetails">
<input wsam:Action="http://ws/chitiethd_ws/countOrderDetailsRequest" message="tns:countOrderDetails"/>
<output wsam:Action="http://ws/chitiethd_ws/countOrderDetailsResponse" message="tns:countOrderDetailsResponse"/>
</operation>
<operation name="deleteChiTietHD">
<input wsam:Action="http://ws/chitiethd_ws/deleteChiTietHD" message="tns:deleteChiTietHD"/>
</operation>
<operation name="getCT">
<input wsam:Action="http://ws/chitiethd_ws/getCTRequest" message="tns:getCT"/>
<output wsam:Action="http://ws/chitiethd_ws/getCTResponse" message="tns:getCTResponse"/>
</operation>
<operation name="deleteCTHD">
<input wsam:Action="http://ws/chitiethd_ws/deleteCTHD" message="tns:deleteCTHD"/>
</operation>
</portType>
<binding name="chitiethd_wsPortBinding" type="tns:chitiethd_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkIfItemExistsInOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateTotalAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTableDetailsFromChitiethd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addChitiethdAndUpdateTongtien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateExistingItemInOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countOrderDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteChiTietHD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getCT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCTHD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="chitiethd_ws">
<port name="chitiethd_wsPort" binding="tns:chitiethd_wsPortBinding">
<soap:address location="http://localhost:8080/chitiethd_ws"/>
</port>
</service>
</definitions>