Nhahang/xml-resources/web-service-references/hoadon_ws/wsdl/localhost_8080/hoadon_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="hoadon_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/hoadon_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="getStatusInfoFromHoadon">
<part name="parameters" element="tns:getStatusInfoFromHoadon"/>
</message>
<message name="getStatusInfoFromHoadonResponse">
<part name="parameters" element="tns:getStatusInfoFromHoadonResponse"/>
</message>
<message name="getIdhoadonsTheoNgay">
<part name="parameters" element="tns:getIdhoadonsTheoNgay"/>
</message>
<message name="getIdhoadonsTheoNgayResponse">
<part name="parameters" element="tns:getIdhoadonsTheoNgayResponse"/>
</message>
<message name="getIDInfoFromHoadon">
<part name="parameters" element="tns:getIDInfoFromHoadon"/>
</message>
<message name="getIDInfoFromHoadonResponse">
<part name="parameters" element="tns:getIDInfoFromHoadonResponse"/>
</message>
<message name="getIdhoadonsTheoNgayTang">
<part name="parameters" element="tns:getIdhoadonsTheoNgayTang"/>
</message>
<message name="getIdhoadonsTheoNgayTangResponse">
<part name="parameters" element="tns:getIdhoadonsTheoNgayTangResponse"/>
</message>
<message name="getUnpaidHoadonID">
<part name="parameters" element="tns:getUnpaidHoadonID"/>
</message>
<message name="getUnpaidHoadonIDResponse">
<part name="parameters" element="tns:getUnpaidHoadonIDResponse"/>
</message>
<message name="getCurrentHoadonID">
<part name="parameters" element="tns:getCurrentHoadonID"/>
</message>
<message name="getCurrentHoadonIDResponse">
<part name="parameters" element="tns:getCurrentHoadonIDResponse"/>
</message>
<message name="updatePaymentHoadon">
<part name="parameters" element="tns:updatePaymentHoadon"/>
</message>
<message name="getAllDoanhThuNgayTang">
<part name="parameters" element="tns:getAllDoanhThuNgayTang"/>
</message>
<message name="getAllDoanhThuNgayTangResponse">
<part name="parameters" element="tns:getAllDoanhThuNgayTangResponse"/>
</message>
<message name="getAllDoanhThuNgay">
<part name="parameters" element="tns:getAllDoanhThuNgay"/>
</message>
<message name="getAllDoanhThuNgayResponse">
<part name="parameters" element="tns:getAllDoanhThuNgayResponse"/>
</message>
<message name="updateTotalAmount">
<part name="parameters" element="tns:updateTotalAmount"/>
</message>
<message name="getTongTienByIdHoadon">
<part name="parameters" element="tns:getTongTienByIdHoadon"/>
</message>
<message name="getTongTienByIdHoadonResponse">
<part name="parameters" element="tns:getTongTienByIdHoadonResponse"/>
</message>
<message name="getHoadon">
<part name="parameters" element="tns:getHoadon"/>
</message>
<message name="getHoadonResponse">
<part name="parameters" element="tns:getHoadonResponse"/>
</message>
<message name="deleteHoadon">
<part name="parameters" element="tns:deleteHoadon"/>
</message>
<message name="getHoadonStatus">
<part name="parameters" element="tns:getHoadonStatus"/>
</message>
<message name="getHoadonStatusResponse">
<part name="parameters" element="tns:getHoadonStatusResponse"/>
</message>
<message name="getgiove">
<part name="parameters" element="tns:getgiove"/>
</message>
<message name="getgioveResponse">
<part name="parameters" element="tns:getgioveResponse"/>
</message>
<message name="addNewHoaDon">
<part name="parameters" element="tns:addNewHoaDon"/>
</message>
<message name="addNewHoaDonResponse">
<part name="parameters" element="tns:addNewHoaDonResponse"/>
</message>
<message name="getAllHoadonIDs">
<part name="parameters" element="tns:getAllHoadonIDs"/>
</message>
<message name="getAllHoadonIDsResponse">
<part name="parameters" element="tns:getAllHoadonIDsResponse"/>
</message>
<message name="getgioden">
<part name="parameters" element="tns:getgioden"/>
</message>
<message name="getgiodenResponse">
<part name="parameters" element="tns:getgiodenResponse"/>
</message>
<portType name="hoadon_ws">
<operation name="getStatusInfoFromHoadon">
<input wsam:Action="http://ws/hoadon_ws/getStatusInfoFromHoadonRequest" message="tns:getStatusInfoFromHoadon"/>
<output wsam:Action="http://ws/hoadon_ws/getStatusInfoFromHoadonResponse" message="tns:getStatusInfoFromHoadonResponse"/>
</operation>
<operation name="getIdhoadonsTheoNgay">
<input wsam:Action="http://ws/hoadon_ws/getIdhoadonsTheoNgayRequest" message="tns:getIdhoadonsTheoNgay"/>
<output wsam:Action="http://ws/hoadon_ws/getIdhoadonsTheoNgayResponse" message="tns:getIdhoadonsTheoNgayResponse"/>
</operation>
<operation name="getIDInfoFromHoadon">
<input wsam:Action="http://ws/hoadon_ws/getIDInfoFromHoadonRequest" message="tns:getIDInfoFromHoadon"/>
<output wsam:Action="http://ws/hoadon_ws/getIDInfoFromHoadonResponse" message="tns:getIDInfoFromHoadonResponse"/>
</operation>
<operation name="getIdhoadonsTheoNgayTang">
<input wsam:Action="http://ws/hoadon_ws/getIdhoadonsTheoNgayTangRequest" message="tns:getIdhoadonsTheoNgayTang"/>
<output wsam:Action="http://ws/hoadon_ws/getIdhoadonsTheoNgayTangResponse" message="tns:getIdhoadonsTheoNgayTangResponse"/>
</operation>
<operation name="getUnpaidHoadonID">
<input wsam:Action="http://ws/hoadon_ws/getUnpaidHoadonIDRequest" message="tns:getUnpaidHoadonID"/>
<output wsam:Action="http://ws/hoadon_ws/getUnpaidHoadonIDResponse" message="tns:getUnpaidHoadonIDResponse"/>
</operation>
<operation name="getCurrentHoadonID">
<input wsam:Action="http://ws/hoadon_ws/getCurrentHoadonIDRequest" message="tns:getCurrentHoadonID"/>
<output wsam:Action="http://ws/hoadon_ws/getCurrentHoadonIDResponse" message="tns:getCurrentHoadonIDResponse"/>
</operation>
<operation name="updatePaymentHoadon">
<input wsam:Action="http://ws/hoadon_ws/updatePaymentHoadon" message="tns:updatePaymentHoadon"/>
</operation>
<operation name="getAllDoanhThuNgayTang">
<input wsam:Action="http://ws/hoadon_ws/getAllDoanhThuNgayTangRequest" message="tns:getAllDoanhThuNgayTang"/>
<output wsam:Action="http://ws/hoadon_ws/getAllDoanhThuNgayTangResponse" message="tns:getAllDoanhThuNgayTangResponse"/>
</operation>
<operation name="getAllDoanhThuNgay">
<input wsam:Action="http://ws/hoadon_ws/getAllDoanhThuNgayRequest" message="tns:getAllDoanhThuNgay"/>
<output wsam:Action="http://ws/hoadon_ws/getAllDoanhThuNgayResponse" message="tns:getAllDoanhThuNgayResponse"/>
</operation>
<operation name="updateTotalAmount">
<input wsam:Action="http://ws/hoadon_ws/updateTotalAmount" message="tns:updateTotalAmount"/>
</operation>
<operation name="getTongTienByIdHoadon">
<input wsam:Action="http://ws/hoadon_ws/getTongTienByIdHoadonRequest" message="tns:getTongTienByIdHoadon"/>
<output wsam:Action="http://ws/hoadon_ws/getTongTienByIdHoadonResponse" message="tns:getTongTienByIdHoadonResponse"/>
</operation>
<operation name="getHoadon">
<input wsam:Action="http://ws/hoadon_ws/getHoadonRequest" message="tns:getHoadon"/>
<output wsam:Action="http://ws/hoadon_ws/getHoadonResponse" message="tns:getHoadonResponse"/>
</operation>
<operation name="deleteHoadon">
<input wsam:Action="http://ws/hoadon_ws/deleteHoadon" message="tns:deleteHoadon"/>
</operation>
<operation name="getHoadonStatus">
<input wsam:Action="http://ws/hoadon_ws/getHoadonStatusRequest" message="tns:getHoadonStatus"/>
<output wsam:Action="http://ws/hoadon_ws/getHoadonStatusResponse" message="tns:getHoadonStatusResponse"/>
</operation>
<operation name="getgiove">
<input wsam:Action="http://ws/hoadon_ws/getgioveRequest" message="tns:getgiove"/>
<output wsam:Action="http://ws/hoadon_ws/getgioveResponse" message="tns:getgioveResponse"/>
</operation>
<operation name="addNewHoaDon">
<input wsam:Action="http://ws/hoadon_ws/addNewHoaDonRequest" message="tns:addNewHoaDon"/>
<output wsam:Action="http://ws/hoadon_ws/addNewHoaDonResponse" message="tns:addNewHoaDonResponse"/>
</operation>
<operation name="getAllHoadonIDs">
<input wsam:Action="http://ws/hoadon_ws/getAllHoadonIDsRequest" message="tns:getAllHoadonIDs"/>
<output wsam:Action="http://ws/hoadon_ws/getAllHoadonIDsResponse" message="tns:getAllHoadonIDsResponse"/>
</operation>
<operation name="getgioden">
<input wsam:Action="http://ws/hoadon_ws/getgiodenRequest" message="tns:getgioden"/>
<output wsam:Action="http://ws/hoadon_ws/getgiodenResponse" message="tns:getgiodenResponse"/>
</operation>
</portType>
<binding name="hoadon_wsPortBinding" type="tns:hoadon_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStatusInfoFromHoadon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdhoadonsTheoNgay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIDInfoFromHoadon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdhoadonsTheoNgayTang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnpaidHoadonID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentHoadonID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePaymentHoadon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllDoanhThuNgayTang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDoanhThuNgay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTotalAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getTongTienByIdHoadon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHoadon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteHoadon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getHoadonStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getgiove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewHoaDon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllHoadonIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getgioden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="hoadon_ws">
<port name="hoadon_wsPort" binding="tns:hoadon_wsPortBinding">
<soap:address location="http://localhost:8080/hoadon_ws"/>
</port>
</service>
</definitions>