Nhahang/xml-resources/web-service-references/td_ws/wsdl/localhost_8080/td_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="td_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/td_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="findtd">
<part name="parameters" element="tns:findtd"/>
</message>
<message name="findtdResponse">
<part name="parameters" element="tns:findtdResponse"/>
</message>
<message name="getThemtd">
<part name="parameters" element="tns:getThemtd"/>
</message>
<message name="getTheloai">
<part name="parameters" element="tns:getTheloai"/>
</message>
<message name="getTheloaiResponse">
<part name="parameters" element="tns:getTheloaiResponse"/>
</message>
<message name="getThucdon">
<part name="parameters" element="tns:getThucdon"/>
</message>
<message name="getThucdonResponse">
<part name="parameters" element="tns:getThucdonResponse"/>
</message>
<message name="getUpdatetd">
<part name="parameters" element="tns:getUpdatetd"/>
</message>
<message name="getDeletetd">
<part name="parameters" element="tns:getDeletetd"/>
</message>
<message name="getMenuItemsFromDatabase">
<part name="parameters" element="tns:getMenuItemsFromDatabase"/>
</message>
<message name="getMenuItemsFromDatabaseResponse">
<part name="parameters" element="tns:getMenuItemsFromDatabaseResponse"/>
</message>
<message name="giaMon">
<part name="parameters" element="tns:giaMon"/>
</message>
<message name="giaMonResponse">
<part name="parameters" element="tns:giaMonResponse"/>
</message>
<portType name="td_ws">
<operation name="findtd">
<input wsam:Action="http://ws/td_ws/findtdRequest" message="tns:findtd"/>
<output wsam:Action="http://ws/td_ws/findtdResponse" message="tns:findtdResponse"/>
</operation>
<operation name="getThemtd">
<input wsam:Action="http://ws/td_ws/getThemtd" message="tns:getThemtd"/>
</operation>
<operation name="getTheloai">
<input wsam:Action="http://ws/td_ws/getTheloaiRequest" message="tns:getTheloai"/>
<output wsam:Action="http://ws/td_ws/getTheloaiResponse" message="tns:getTheloaiResponse"/>
</operation>
<operation name="getThucdon">
<input wsam:Action="http://ws/td_ws/getThucdonRequest" message="tns:getThucdon"/>
<output wsam:Action="http://ws/td_ws/getThucdonResponse" message="tns:getThucdonResponse"/>
</operation>
<operation name="getUpdatetd">
<input wsam:Action="http://ws/td_ws/getUpdatetd" message="tns:getUpdatetd"/>
</operation>
<operation name="getDeletetd">
<input wsam:Action="http://ws/td_ws/getDeletetd" message="tns:getDeletetd"/>
</operation>
<operation name="getMenuItemsFromDatabase">
<input wsam:Action="http://ws/td_ws/getMenuItemsFromDatabaseRequest" message="tns:getMenuItemsFromDatabase"/>
<output wsam:Action="http://ws/td_ws/getMenuItemsFromDatabaseResponse" message="tns:getMenuItemsFromDatabaseResponse"/>
</operation>
<operation name="giaMon">
<input wsam:Action="http://ws/td_ws/giaMonRequest" message="tns:giaMon"/>
<output wsam:Action="http://ws/td_ws/giaMonResponse" message="tns:giaMonResponse"/>
</operation>
</portType>
<binding name="td_wsPortBinding" type="tns:td_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findtd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getThemtd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getTheloai">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getThucdon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUpdatetd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getDeletetd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getMenuItemsFromDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="giaMon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="td_ws">
<port name="td_wsPort" binding="tns:td_wsPortBinding">
<soap:address location="http://localhost:8080/td_ws"/>
</port>
</service>
</definitions>